# TODO file
TODO.txt
dist


*.py[cod]
*~
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
MANIFEST
tests/Untitled0.ipynb
tests/.ipynb_checkpoints/Untitled0-checkpoint.ipynb
src/WellBehavedPython/Discovery/ModuleExaminer.py
.#TODO.txt
#TODO.txt#
#TODO.txt#
#TODO.txt#
